<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	stderr="true"
	>
	<testsuites>
		<testsuite>
			<directory suffix="Test.php">tests</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist>
			<directory suffix=".php">./</directory>
			<exclude>
				<directory>node_modules</directory>
				<directory>perf</directory>
				<directory>tests</directory>
				<directory>tools</directory>
			</exclude>
		</whitelist>
	</filter>
</phpunit>
